<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="dist/style.css">

  <script src="dist/main.js"></script>
  <title>Frontend Mentor | E-commerce product page</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <div id ="app">
  <div class="container">
    <header class="header">
      <img src="images/icon-menu.svg" alt="menu icon" class="header__menu--menu" @click="toggleMenu"/>
      <div class="header__menu">
        <img src="images/logo.svg" alt="sneakers logo" class="header__menu--logo"/>
        <nav :class=" {'header__menu--nav navigation' :true , 'active' : showMenu} ">
          <img src="images/icon-close.svg" alt="close icon" class="header__menu--close"  @click="toggleMenu"/>
          <a href="#">Collections</a>
          <a href="#">Men</a>
          <a href="#">Women</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </div>
      <div class="header__utilities">
        <div class="cart">
          <img src="images/icon-cart.svg" alt="cart icon" class="cart__icon" @click="toggleCart" />
          <div class="cart__badge" v-show="showBadge">{{ cart }}</div>
        </div>
        <img src="images/image-avatar.png" alt="avatar" class="header__utilities--avatar" />

        <div class="shopping-cart" v-if="showCart">
          <h3>Cart</h3>
          <div class="shopping-cart__contents" v-if="cart !== 0">
            <img src="/images/image-product-1-thumbnail.jpg"
                alt="Product Thumbnail" 
                class="shopping-cart__thumbnail" />
            <div>{{product.name}}
              <div>${{discountedPrice.toFixed(2)}} x{{cart}} <span class="shopping-cart__contents--total">${{shoppingCartTotal.toFixed(2)}}</span></div>
            </div>
            <img src="images/icon-delete.svg" alt="delete icon" class="shopping-cart__icon" @click="emptyCart" />
          </div>
          <div class="shopping-cart__contents empty-cart" v-else>
            You cart is Empty
          </div>
        </div>

      </div>
      
    </header>
    <main class="main">
      <section class="gallery">
        <div class="gallery__navigation" >
          <img :src="currentImageURL" alt="Product Image" class="gallery__image--primary" id="image-product-primary" />
        </div>
        <div class="gallery__thumbnails">
          <div :class="{active: (currentPhoto === index), gallery__image: true }" v-for="(photo, index) in product.photos">
            <img 
              :src=`/images/${photo}-thumbnail.jpg` 
              alt="Product Thumbnail" 
              class="gallery__image--thumb" 
              :id="photo" 
              @click="changeGalleryImage(index)"/> 
            </div>
          </div>
      </section>
      <section class="description">
        <div class="description__company">{{product.brand}}</div>
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
        <div class="description__price">
          <div class="description__price--current">${{discountedPrice.toFixed(2)}}</div>
          <div class="description__price--discount">{{discountPercent.toFixed(0)}}%</div>
          <div class="description__price--original">${{product.price.original.toFixed(2)}}</div>
        </div>
      <div class="add-to-cart">
        <div class="add-to-cart__counter">
          <button class="add-to-cart__button add-to-cart__button--minus" :onClick="decreaseCounter"><img src="images/icon-minus.svg" alt="minus icon"/></button>
          {{ counter }}
          <button class="add-to-cart__button add-to-cart__button--plus":onClick="increaseCounter"><img src="images/icon-plus.svg" alt="plus icon"/></button>
        </div>
        <button class="add-to-cart__button--add-to-cart" @click="addToCard"><img src="images/icon-cart.svg" alt="cart icon" class="add-to-cart__icon" />Add to cart</button>
    </div>
    </section>
  </main>
  </div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">nuForge Development</a>.
  </div>

</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
  let app = Vue.createApp ({
    data() {
      return {
        showCart: null,
        showMenu: true,
        counter: 0,
        cart: 0,
        currentPhoto: 0,
        product: {
          name: "Fall Limited Edition Sneakers",
          brand: "Sneaker Company",
          description: "These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.",
          price: {
            original: 250,
            discount: .5
          },
          photos: [
          'image-product-1',
          'image-product-2',
          'image-product-3',
          'image-product-4',
        ]
        },
        
      }
    },
    methods: {
      increaseCounter() {
        this.counter++;
      },
      decreaseCounter() {
        if (this.counter > 0 ) {
          this.counter--;
        }
      },
      addToCard() {
        this.cart += this.counter;
        this.counter = 0;
      },
      changeGalleryImage(newImage) {
        this.currentPhoto = newImage;
      },
      emptyCart() {
        this.cart = 0;
      },
      toggleCart() {
        this.showCart = !this.showCart;
      },
      closeCart() {
        this.showCart = false;        
      },
      openCart() {
        this.showCart = true;
      },
      toggleMenu() {
        this.showMenu = !this.showMenu;
      }
      
    },
      computed: {
        showBadge() {
          return (this.cart > 0);
        },
        discountPercent() {
          return (this.product.price.discount * 100);
        },
        discountedPrice() {
          return (this.product.price.original - (this.product.price.original  * this.product.price.discount));
        },
        currentImageURL() {
          return '/images/' + this.product.photos[this.currentPhoto] + '.jpg';
        },
        shoppingCartTotal() {
          return (this.discountedPrice * this.cart);
        },
      }
  });

  
  app.mount('#app');

</script>
</body>
</html>