.button {
    border: none;
    background: none;
    cursor: pointer;

    &__orange {
            
        flex: 1;
        border: none;
        background: var(--orange);
        color: var(--white);
        padding: rem(10);
        border-radius: rem(10);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rem(0) rem(16) rem(20) rem(5) rgba(255, 125, 27, 0.15);
        gap: rem(16);

        &:hover {
            opacity: .75;
        }
    }
}