@use "../utils/" as *;

.cart {

    cursor: pointer;
    position: relative;

    &__badge {
        position: absolute;
        top: rem(-6);
        right: rem(-6);
        color: var(--white);
        background: var(--orange);
        font-size: rem(10);
        padding: 0 rem(6);
        border-radius: rem(8);
    }
}