@use "../utils/" as *;

.gallery {

    &__thumbnails {
        display: flex;
        gap: rem(26);
        margin-top: rem(20);

        @include breakpoint-down(large) {
            display: none;
        }
    }

    &__image {
        border-radius: rem(10);
        height: rem(90);
        width: rem(90);
        overflow: hidden;

        &.active {
            border: 2px solid var(--orange);
        }

        &.active img {
            opacity: .5;
        }
    }

    &__image--primary {
        width: 100%;
        height: auto;
        max-width: rem(440);
        @include breakpoint(large) {
            border-radius: rem(10);
        }
    }

    &__image--thumb {
        height: rem(90);
        width: rem(90);

        &:hover {
            opacity: .75;
        }

    }

}