@use "../utils/" as *;

.gallery {

    &__navigation {
        position: relative;
    }

    &__button {
        border: none;
        cursor: pointer;
        background: var(--white);
        border-radius: 50%;
        width: rem(30);
        height: rem(30);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);

        &--previous {
            left: rem(8);
        }
        &--next {
            right: rem(8);
        }

        @include breakpoint(large) {
            display: none;
        }
    }

    &__thumbnails {
        display: flex;
        gap: rem(26);
        margin-top: rem(20);

        @include breakpoint-down(large) {
            display: none;
        }
    }

    &__image {
        border-radius: rem(10);
        height: rem(90);
        width: rem(90);
        overflow: hidden;

        &.active {
            border: 2px solid var(--orange);
        }

        &.active img {
            opacity: .5;
        }
    }

    &__image--primary {
        width: 100%;
        height: auto;
        max-width: rem(440);
        @include breakpoint(large) {
            border-radius: rem(10);
        }
    }

    &__image--thumb {
        height: rem(90);
        width: rem(90);

        &:hover {
            opacity: .75;
        }

    }

}