@use "../utils/" as *;

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: rem(30);

    &__menu {
        display: flex;
        flex: 1;
        gap: rem(60);
        align-items: center;

        &--logo {
            height: rem(20);
            width: auto;
        }

        
        &--menu {
            cursor: pointer;
            margin-right: 1rem;

            @include breakpoint(large) {
                display: none;
            }
        }
    }
        
        
    &__utilities {
        display: flex;
        align-items: center;
        position: relative;

        &--avatar {
            height: rem(50);
            width: auto;
            margin-left: rem(20);
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                border-color: var(--orange);
            }
        }
    }
}