@use "../utils/" as *;

.shopping-cart {

    position: absolute;
    top: rem(100);
    right: 0;

    width: rem(320);
    padding: rem(10);
    
    color: var(--dark-grayish-blue);
    font-size: rem(14);
    line-height: 1.5;

    background: var(--white);
    border-radius: rem(10);
    box-shadow: rem(0) rem(16) rem(20) rem(5) rgba(0, 0, 0, 0.15);

    & h3 {
        
        border-bottom: 1px solid var(--grayish-blue);
        padding-bottom: rem(18);
    }

    &__thumbnail {
        width: rem(50);
        height: rem(50);
        border-radius: rem(5);
    }

    &__contents {
        display: flex;
        gap: rem(20);
        align-items: center;

        &--total {
            font-weight: 700;
            color: var(--black);
        }
    }

    &__icon {
        width: rem(14);
        height: rem(16);
        cursor: pointer;
    }

    & .empty-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(36) 0;
    }
}
